<!DOCTYPE html>
<!-- saved from url=(0034)http://estimator.intel.com/ssdpro/ -->
<html >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <script type="text/javascript" src="./../public/front/tco/zh-cn.js"></script>


    <!--
<script type="text/javascript" src="http://getfirebug.com/firebug-lite.js#startOpened"></script>
-->
    <title>Save with Intel® SSD Professional Family</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--
// To disable pinch/zoom scaling
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="keywords" content="{seoKeywords}">
    <meta name="description" content="{seoDescription}">
    <!--
// FB recommends:
// - url and image should be specified even if they can be inferred
// - image should reference a 200x200 or larger image
-->
    <meta property="og:title" content="Save with Intel® SSD Professional Family">
    <meta property="og:description" content="The Save with Intel® SSD Professional Family TCO Tool provides a model and a number of inputs to calculate the potential estimated savings by replacing HDDs with Intel® Pro SSDs.">
    <!--
<meta property="og:url" content="http://test-estimator.intel.com/ssdpro/" />
<meta property="og:image" content="http://test-estimator.intel.com/ssdpro/images/intelLogo2.png" />
-->
    <!--
//
// Fonts
//
-->
    <!-- Load font files for non-IE browsers and IE 9+ -->
    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" type="text/css" href="./../public/front/tco/intelfonts.css" media="screen">
    <!--<![endif]-->
    <!--
//
// Styles
//
<link href="//code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" />
-->
    <link href="./../public/front/tco/jquery-ui.css" rel="stylesheet">
    <link href="./../public/front/tco/global.css" rel="stylesheet" type="text/css" media="screen">
    <link href="./../public/front/tco/default.css" rel="stylesheet" type="text/css" media="screen">
    <link href="./../public/front/tco/acgAlert.css" rel="stylesheet">
    <!-- Gradient support in IE9 -->
    <!--[if gte IE 9]>
<style type="text/css">
.gradient
{
    filter: none;
}
</style>
<![endif]-->
    <!-- Load font files for IE less than IE9 -->
    <!--[if lt IE 9]>
<style>
@font-face
{
   font-family: "neo-sans-intel";
   src:url("css/fonts/5fcd1c5d-1fa2-4513-a9fa-44921e89f1c2.eot"); /* Fix for IE9 compatibility mode*/
}
</style>
<![endif]-->
    <!--
//
// Scripts
//
<script type="text/javascript" src="//code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.1.0.js"></script>
// Couldn't move from 1.9.0 to 1.10.2 because of a jQ bug in 1.10.2 where the replaceWith() does not
// seem to be converting a string to an XML object tree to be inserted (AcgXml._processVariables).
<script type="text/javascript" src="libs/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>

// Respond library is for providing IE8 and below "media query" support
<script type="text/javascript" src="libs/respond/respond.min.js"></script>
-->
    <script type="text/javascript" async="" src="./../public/front/tco/wap-ssdpro.js"></script>
    <script async="" src="./../public/front/tco/analytics.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery.ui.mouse.min.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery.ui.slider.min.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery.ui.progressbar.min.js"></script>
    <script type="text/javascript" src="./../public/front/tco/jquery.ui.touch-punch.min.js"></script>
    <!-- Required for touch support on iOS devices -->
    <script type="text/javascript" src="./../public/front/tco/resize.js"></script>
    <!--
// TODO: Remove for testing
-->
    <script type="text/javascript" src="./../public/front/tco/addthis_widget.js" async=""></script>
    <script type="text/javascript" src="./../public/front/tco/FusionCharts.js"></script>
    <style type="text/css" media="screen">
    object.FusionCharts:focus,
    embed.FusionCharts:focus {
        outline: none
    }
    </style>
    <script type="text/javascript" src="./../public/front/tco/acgjslib.ob.js"></script>

    <script type="text/javascript" src="./../public/front/tco/doubleTap.js"></script>
    <script type="text/javascript" src="./../public/front/tco/xorTap.js"></script>
    <script type="text/javascript" src="./../public/front/tco/S2CArray.js"></script>
    <script type="text/javascript" src="./../public/front/tco/S2CObject.js"></script>
    <script type="text/javascript" src="./../public/front/tco/S2CCalc.js"></script>
    <script type="text/javascript" src="./../public/front/tco/MyApp.ob.js"></script>


    <style id="service-icons-0"></style>
    <script type="text/javascript" src="./../public/front/tco/MyExport.ob.js"></script>
    <script type="text/javascript" src="./../public/front/tco/Charts.ob.js"></script>
    <!--
//
// App bootstrap code
//
-->
    <script>
    var g_oApp = null;

    $(document).ready(onReady);

    function onReady() {
        g_oApp = new MyApp();
    }
    </script>
    <!--
//
// GA
//
-->
    <script>
    function isLive() {
        return ((location.hostname.indexOf(".com") >= 0) && (location.hostname.indexOf("test") != 0));
    }
    </script>
    <script>
    var sAccount = "UA-46825066-2"; // TEST by default
    if (isLive()) sAccount = "UA-46825066-3"; // LIVE

    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', sAccount, 'intel.com');
    ga('send', 'pageview', 'pageLoad');
    </script>
    <script type="text/javascript" charset="utf-8" async="" src="./../public/front/tco/menu.34b8270562fe3ab4b2e6.js"></script>
    <script type="text/javascript" async="" charset="utf-8" src="./../public/front/tco/utag.894.js" id="utag_intel.profile-microsite_894"></script>
    <script type="text/javascript" src="./../public/front/tco/FusionCharts.HC.js"></script>
    <script type="text/javascript" async="" charset="utf-8" src="./../public/front/tco/utag.918.js" id="utag_intel.profile-microsite_918"></script>
    <script type="text/javascript" src="./../public/front/tco/FusionCharts.HC.Charts.js"></script>
</head>

<body>
    <!--
// Intel analytics
-->
    <script type="text/javascript">
    //configure analytics
    var wapLocalCode = 'us-en'; //dynamically set per localized site

    //load analytics
    (function() {
        var host = (window.document.location.protocol == 'http:') ? "http://www.intel.com" : "https://www-ssl.intel.com";
        var url = host + "/content/dam/www/global/wap/wap-ssdpro.js"; //wap file url
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = url;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
    </script>
    <div id="myscreen" class="acg">
        <!--
		// Header
		-->
        <div id="header" class="headerBand">
            <div class="headerContent" style="overflow:visible;">
                <div jclass="enhancedMode" style="overflow:visible;">
                    <table class="headerPadding" cellspacing="0" cellpadding="0" border="0" style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:10%; vertical-align:middle; jpadding:0.5em 0; padding-right:1em;">
                                    <a href="http://www.intel.com/" target="_blank"><img src="./../public/front/tco/intelLogo2.png" alt="logo"></a>
                                </td>
                                <td jclass="title" style="width:75%; jtext-align:center; jvertical-align:bottom; padding:0em 0 0.1em 0">
                                    <span class="title">Save with Intel® SSD Professional Family</span><span style="float:right; text-align:right; vertical-align:baseline; margin-top:0.5em; font-size:1.1em;"></span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--
		// Shadow
		-->
        <!--
		<div class="headerShadow ignoreMouseEvents"></div>
-->
        <!--
		// Main content
		-->
        <div id="mainBand" class="mainBand">
            <div id="mainScreen" class="mainContent mainContentPage jmainPadding">
                <div id="summaryPane">
                    <div>
                        <div style=" width:100%; vertical-align:top; jpadding:1em;">
                            <div>
                                <p id="netSavingsLabel" class="netSavingsLabel">Net Estimated Savings
                                    <br>Over 3 Year(s):</p>
                                <p style="font-size:0.7em;">(Net Present Value) <span class="netSavings" data-id="ACG_B3">$920,860</span></p>

                                <p class="breakEvenLabel">Payback Period:  <span data-id="ACG_B4" class="breakEven">4</span> Month(s)</p>

                            </div>

                        </div>
                        <div id="year" style="display:table-cell">
                            <table class="legend" style="width:100%; text-align:right; padding-right:3em; white-space:nowrap;">
                                <tbody>
                                    <tr>
                                        <td style="width:80%; padding-left:1em;">Year 1
                                            <div class="legendBlock" style="background-color:#45a9ee;">&nbsp;</div>
                                        </td>
                                        <td style="padding-left:1em;">Years 1-2
                                            <div class="legendBlock" style="background-color:#ffda00;">&nbsp;</div>
                                        </td>
                                        <td style="padding-left:1em;">Years 1-3
                                            <div class="legendBlock" style="background-color:#a6ce39;">&nbsp;</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="chartContainer"></div>
                        </div>
                    </div>
                    <div >

                        <div id="" >
                            <div id="chartXAxis">
                                <table class="chartAxis" cellspacing="0" cellpadding="0" style="width:100%; padding:0 15px;">
                                    <tbody>
                                        <tr>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p>Initial Investment</p>
                                            </td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p>Initial Estimated Savings</p>
                                            </td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p>Productivity and Reliability Benefits</p>
                                            </td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p>Intel® Core™ vPro™ Technology Benefits</p>
                                            </td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p>Miscellaneous</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="axisLabel" style="width:20%; text-align:center;"><span class="axisLabelAmount" style="white-space: nowrap; color: rgb(227, 0, 51);" data-id="ACG_B8">($157,440)</span></td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p class="axisLabelAmount" data-id="ACG_B26" style="color: rgb(69, 169, 238);">$295,720</p>
                                            </td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p class="axisLabelAmount" data-id="ACG_D24" style="color: rgb(69, 169, 238);">$366,051</p>
                                            </td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p class="axisLabelAmount" data-id="ACG_D18" style="color: rgb(69, 169, 238);">$414,000</p>
                                            </td>
                                            <td class="axisLabel" style="width:20%; text-align:center;">
                                                <p class="axisLabelAmount" data-id="ACG_D23" style="color: rgb(69, 169, 238);">$82,776</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="chartAxis savingsOverHdd">
                            <span class="myButton myHeaderButton" data-id="reset" style="width:4em; height:2em;"><div style="display:table; height:100%; width:100%;"><div style="display:table-cell; vertical-align:middle; white-space:normal;">Reset</div></div></span>

                        </div>
                    </div>
                </div>
                <div id="inputPane" class="jmainPadding" style="">
                    <table cellpadding="0" cellspacing="0" border="0" style="width:100%; background-color:#0071c5;">

                            <tr>
                                <td class="column1" style="jbackground-color:#ff0000;">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="additionalLaptopsTooltip">Number of Business PCs</span></div>
                                    <div class="inputBlock" style="">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>

                                                            <input type="text" class="myStepper standardInput" data-id="Revised_Inputs_C3">
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                                </tr>
                            <tr>
                                <td class="column1">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="lifespanOfALaptopTooltip">Business PC Replacement Cycle (years)</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="visibility:hidden;">$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="lifespanOfALaptopSlider" style="">
                                                        </td>
                                                        <td style="visibility:hidden;">%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="lifespanOfALaptopSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C23" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 100%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 100%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr jvalign="top">
                                <td class="column1 noBottomLine">
                                    <div jclass="inputLabel">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="inputLabel" style="width:33%;"><span jclass="showAcgTooltip" jdata-acgtooltip-id="ssdSizeTooltip">SSD Capacity (GB)</span></td>
                                                    <td style="width:33%; text-align:right; padding-right:1em;">
                                                        <select id="ssd1" class="acgComboBox standardInput" data-id="ssd1">
                                                            <option value="120">120</option>
                                                            <option value="180">180</option>
                                                            <option value="240" disabled="disabled">240</option>
                                                            <option value="360">360</option>
                                                            <option value="480">480</option>
                                                        </select>
                                                    </td>
                                                    <td style="text-align:right; padding-right:2em;">
                                                        <select id="ssd2" class="acgComboBox standardInput" data-id="ssd2">
                                                            <option value="120">120</option>
                                                            <option value="180" disabled="disabled">180</option>
                                                            <option value="240">240</option>
                                                            <option value="360">360</option>
                                                            <option value="480">480</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="column1">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="employeeCostPerHourTooltip">Employee Cost (per hour)</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="employeeCostPerHourSlider" style="">
                                                        </td>
                                                        <td style="visibility:hidden;">%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="employeeCostPerHourSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C29" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 61.1111%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 61.1111%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr valign="middle">
                                <td class="column1 noBottomLine">
                                    <div jclass="inputLabel">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="inputLabel" style="width:33%;"><span class="showAcgTooltip" data-acgtooltip-id="ssdMixTooltip">Capacity Mix</span></td>
                                                    <td style="width:33%;">
                                                        <div class="sliderWithEdit" style="width:7em">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>
                                                                            <input type="text" class="mySliderAmount" data-acgslider="ssd1MixSlider" style="">
                                                                        </td>
                                                                        <td>%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>
                                                                            <div id="ssd1MixSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="ssd1MixSlider" style="margin-top:0.5em;" aria-disabled="false">
                                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 72%;"></div>
                                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 72%;"></a>
                                                                            </div>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                    <td style="padding-right:1em;">
                                                        <div class="sliderWithEdit" style="width:7em">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="visibility:hidden;">$</td>
                                                                        <td>
                                                                            <input type="text" class="mySliderAmount" data-acgslider="ssd2MixSlider" style="">
                                                                        </td>
                                                                        <td>%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>
                                                                            <div id="ssd2MixSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="ssd2MixSlider" style="margin-top:0.5em;" aria-disabled="false">
                                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 28%;"></div>
                                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 28%;"></a>
                                                                            </div>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                             </tr>
                            <tr>
                                <td class="column1">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="itEmployeeCostPerHourTooltip">IT Employee Cost (per hour)</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="itEmployeeCostPerHourSlider" style="">
                                                        </td>
                                                        <td style="visibility:hidden;">%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="itEmployeeCostPerHourSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C31" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 61.1111%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 61.1111%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="column1">
                                    <div jclass="inputLabel">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="inputLabel" style="width:33%;"><span class="showAcgTooltip" data-acgtooltip-id="ssdAdderTooltip">Incremental SSD Cost</span></td>
                                                    <td style="width:33%;">
                                                        <div class="sliderWithEdit" style="width:7em">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>$</td>
                                                                        <td>
                                                                            <input type="text" class="mySliderAmount" data-acgslider="ssd1AdderSlider" style="">
                                                                        </td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>
                                                                            <div id="ssd1AdderSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="ssd1AdderSlider" style="margin-top:0.5em;" aria-disabled="false">
                                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 14.4%;"></div>
                                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 14.4%;"></a>
                                                                            </div>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                    <td style="padding-right:1em;">
                                                        <div class="sliderWithEdit" style="width:7em">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>$</td>
                                                                        <td>
                                                                            <input type="text" class="mySliderAmount" data-acgslider="ssd2AdderSlider" style="">
                                                                        </td>
                                                                        <td style="visibility:hidden;">%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>
                                                                            <div id="ssd2AdderSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="ssd2AdderSlider" style="margin-top:0.5em;" aria-disabled="false">
                                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 19.2%;"></div>
                                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 19.2%;"></a>
                                                                            </div>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                             </tr>
                            <tr>
                                <td class="column1">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="productivityBenefitTooltip">Productivity Benefit</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="visibility:hidden;">$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="productivityBenefitSlider" style="">
                                                        </td>
                                                        <td>%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="productivityBenefitSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C5" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 50%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 50%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="column1">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="ssdAnnualFailureRateTooltip">SSD Annual Failure Rate</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="visibility:hidden;">$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount inputTooltip" data-acgslider="ssdAnnualFailureRateSlider">
                                                        </td>
                                                        <td>%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="ssdAnnualFailureRateSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C27" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 7.71208%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 7.71208%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                             </tr>
                             <tr>
                                <td class="column1">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="includeVproBenefitTooltip">Include Intel® Core™ vPro™ Technology Benefits</span></div>
                                    <div class="inputBlock" data-id="Revised_Inputs_C33" style="white-space:nowrap; padding-right:2em;">
                                        <input type="radio" name="Revised_Inputs_C33" value="yes">Yes
                                        <input type="radio" name="Revised_Inputs_C33" value="no">No
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="column1">
                                    <div class="inputLabel"><span class="showAcgTooltip" data-acgtooltip-id="hardDriveAnnualFailureRateTooltip">HDD Annual Failure Rate</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="visibility:hidden;">$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="hardDriveAnnualFailureRateSlider" style="">
                                                        </td>
                                                        <td>%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="hardDriveAnnualFailureRateSlider" class="acgSlider standardInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C25" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 42.5%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 42.5%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                             </tr>
                             <tr>
                                <td class="column1">
                                </td>
                            </tr>
                            <tr style="margin-bottom:10em;">
                                <td colspan="2" class="column1" style="margin-bottom:10em;">
                                    <div class="inputLabel" style="margin-bottom:10em;">
                                        <span id="showAdvancedInputsButton" class="myButton myHeaderButton" data-id="showAdvancedInputsButton" style="height:inherit; min-height:inherit;">+</span>
                                        <span id="hideAdvancedInputsButton" class="myButton myHeaderButton" data-id="hideAdvancedInputsButton" style="height:inherit; min-height:inherit; display:none;">−</span>
                                        <span id="advancedInputsButtonText" class="myButton" data-id="advancedInputsButton">Show Advanced Inputs</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="advancedInputsRow" style="display:none;">
                                <td class="column1">
                                    <div class="inputLabel"><span jclass="showAcgTooltip" jdata-acgtooltip-id="businessDaysToFullyResolveHddFailureTooltip">Time to Fully Resolve an HDD Failure (days)</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="visibility:hidden;">$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="businessDaysToFullyResolveHddFailureSlider" style="">
                                                        </td>
                                                        <td style="visibility:hidden;">%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="businessDaysToFullyResolveHddFailureSlider" class="acgSlider advancedInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C38" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 12.5%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 12.5%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="advancedInputsRow" style="display:none;">
                                <td class="column1">
                                    <div class="inputLabel"><span jclass="showAcgTooltip" jdata-acgtooltip-id="timeForInitialBuildTooltip">Time for Initial PC Build (hours)</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="visibility:hidden;">$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="timeForInitialPcBuildSlider" style="">
                                                        </td>
                                                        <td style="visibility:hidden;">%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="timeForInitialPcBuildSlider" class="acgSlider advancedInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C40" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 20%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 20%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="advancedInputsRow" style="display:none;">
                                <td class="column1">
                                    <div class="inputLabel"><span jclass="showAcgTooltip" jdata-acgtooltip-id="costToRetrieveDataFromAFailedHddTooltip">Cost to Retrieve Data from a Failed HDD</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="costToRetrieveDataFromAFailedHddSlider" style="">
                                                        </td>
                                                        <td style="visibility:hidden;">%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="costToRetrieveDataFromAFailedHddSlider" class="acgSlider advancedInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C42" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 50%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 50%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="advancedInputsRow" style="display:none;">
                                <td class="column1">
                                    <div class="inputLabel"><span jclass="showAcgTooltip" jdata-acgtooltip-id="percentStolenTooltip">Annual Percentage of Lost or Stolen Business PCs</span></div>
                                    <div class="inputBlock" style="">
                                        <div class="sliderWithEdit" style="">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="visibility:hidden;">$</td>
                                                        <td>
                                                            <input type="text" class="mySliderAmount" data-acgslider="percentStolenSlider" style="">
                                                        </td>
                                                        <td>%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div id="percentStolenSlider" class="acgSlider advancedInput ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-id="Revised_Inputs_C46" style="margin-top:0.5em;" aria-disabled="false">
                                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 33.3333%;"></div>
                                                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="http://estimator.intel.com/ssdpro/#" style="left: 33.3333%;"></a>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="advancedInputsRow" style="display:none;">
                                <td class="column1">
                                    <div class="inputLabel"><span jclass="showAcgTooltip" jdata-acgtooltip-id="valueOfIPTooltip">Value of IP from Lost or Stolen Business PC</span></div>
                                    <div class="inputBlock" style="">
                                        <div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td><span data-id="ACG_B7">$49,246</span></td>
                                                        <td style="visibility:hidden;">%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr class="advancedInputsRow" style="display:none;">
                                <td class="column1">
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" style="height:2em; background-color:#f3f3f3;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--
		// Footer
		-->

        <div id="helloWorld" title="{helloWorld}" oktext="OK" style="display:none;">
            {helloWorld}
        </div>
        <div style="display:none;">
            <div id="cssCheck">CSS Check</div>
        </div>
    </div>
    <div id="terms-and-conditions" title="Terms &amp; Conditions" oktext="Accept" okclick="g_oApp._onAcceptTerms" style="display:none;">
        <p>Use of the CALCULATOR shall be construed to be User's agreement to these terms.</p>
        <br>
        <p>YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT AND UNDERSTAND IT AND THAT BY DOWNLOADING, INSTALLING OR USING THE SAVE WITH INTEL® SSD PROFESSIONAL FAMILY CALCULATOR ACCOMPANYING THIS AGREEMENT ("CALCULATOR"), YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS. IF YOU ARE ACCESSING THE CALCULATOR ELECTRONICALLY, INDICATE YOUR ACCEPTANCE OF THESE TERMS BY SELECTING THE "ACCEPT" BUTTON BELOW. IF YOU RECEIVED THE CALCULATOR ON PHYSICAL MEDIA AND DO NOT ACCEPT THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU MAY RETURN THE PHYSICAL MEDIA UNOPENED AND GET A REFUND (IF ANY FEES WERE PAID). INTEL IS UNWILLING TO LICENSE THE CALCULATOR TO YOU IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS AGREEMENT. AS USED HEREIN, "YOU" MEANS THE INDIVIDUAL DOWNLOADING THE CALCULATOR AND HIS/HER EMPLOYER AND "INTEL" MEANS INTEL CORPORATION. CERTAIN TERMS USED HEREIN ARE DEFINED ABOVE AND BELOW.</p>
        <br>
        <p>Intel does not warrant that this CALCULATOR will be error-free, or free of viruses, defects or other harmful components. You agree that your use of the CALCULATOR is at your sole risk. This applies regardless of whether the CALCULATOR is used alone or with other software.</p>
        <br>
        <p>The results generated or scenarios described in the CALCULATOR are estimates and should only be used as a guide to evaluate the cost/benefit or feasibility of a future purchase of systems with Intel® processors. The actual economic results realized as a result of a purchase of systems with Intel processors will vary and there is no guarantee that you will actually realize the economic results or productivity gains forecast by the CALCULATOR. There may be additional unaccounted for costs related to the use and deployment of devices that are not or cannot be accounted for on this CALCULATOR. Any estimate generated by the CALCULATOR is not and should not be interpreted as either a promise of or contract for a given level of IT support cost and savings. Prior to purchasing any systems with Intel processors you should consult with qualified IT professionals to ensure that any such purchases fit your particular circumstances. Intel does not and cannot guarantee the accuracy or reliability of the results generated by the CALCULATOR or that you will actually realize any cost savings or productivity gains as forecast by the CALCULATOR.</p>
        <br>
        <p>General Disclaimer: The Save with Intel® SSD Professional Family TCO Tool is an interactive calculator that uses the information that you supply to provide an estimate of IT operational costs, end user and businesss productivity gains associated with replacing aging devices with new. The calculator is intended to enable you to get a better understanding of how decisions to maintain and manage aging devices can affect a range of both direct business costs as well as indirect softer productivity costs associated with the value of time and money. The calculator provides you the ability to model direct IT costs including help desk support, out-of-warranty repairs, security compliance, administration and transition costs associated with refresh. The calculator also makes adjustments to these costs based on a range of IT management models, end user mobility and ownership models based on industry wide research and best practice modeling. This calculator is not based on any single model for determining the value or benefits of PC refresh but works to draw insights from a range of different approaches and sources. </p>
        <br>
        <p>This calculator allows you to evaluate a pre-configured scenario, create your own scenario or customize through fine-tuning a range of operational assumptions. The general accuracy of the estimate generated by the calculator will depend on how closely the variables chosen by you match your actual circumstances.</p>
        <br>
        <p>DISCLAIMER OF WARRANTIES. THE CALCULATOR IS PROVIDED "AS IS" WITHOUT ANY EXPRESS, IMPLIED OR STATUTORY WARRANTY OF ANY KIND. INTEL DISCLAIMS ALL WARRANTIES, INCLUDING WITHOUT LIMITATION ANY WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE. INTEL ASSUMES NO RESPONSIBILITY FOR CONSEQUENCES RESULTING FROM THE USE OF OR RELIANCE ON ANY ESTIMATES GENERATED BY THE CALCULATOR OR THE SCENARIOS DESCRIBED IN THIS CALCULATOR. INTEL IS NOT RESPONSIBLE FOR AND EXPRESSLY DISCLAIMS ALL LIABILITY FOR, DAMAGES OF ANY KIND ARISING OUT OF THE USE, REFERENCE TO, RELIANCE ON OR PERFORMANCE OF SUCH INFORMATION. THE ENTIRE RISK AS TO THE USE, OUTPUT, ANALYSIS, RESULTS, QUALITY AND PERFORMANCE OF THE CALCULATOR IS ASSUMED BY YOU. IF YOU RECEIVE ANY WARRANTIES REGARDING THE CALCULATOR, THOSE WARRANTIES DO NOT ORIGINATE FROM, AND ARE NOT BINDING ON INTEL. INTEL DOES NOT WARRANT OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR COMPLETENESS OF ANY INFORMATION, TEXT, GRAPHICS, LINKS OR OTHER ITEMS CONTAINED WITHIN THE CALCULATOR.</p>
        <br>
        <p>LIMITATION OF LIABILITY. IN NO EVENT SHALL INTEL OR ITS OFFICERS, EMPLOYEES, DIRECTORS, SUBSIDIARIES, REPRESENTATIVES, AFFILIATES AND AGENTS HAVE ANY LIABILITY TO YOU OR ANY OTHER THIRD PARTY, FOR ANY LOST PROFITS, LOST DATA, LOSS OF USE OR COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR FOR ANY INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THIS AGREEMENT, UNDER ANY CAUSE OF ACTION OR THEORY OF LIABILITY, AND IRRESPECTIVE OF WHETHER INTEL OR ITS OFFICERS, EMPLOYEES, DIRECTORS, SUBSIDIARIES, REPRESENTATIVES, AFFILIATES AND AGENTS HAVE ADVANCE NOTICE OF THE POSSIBILITY OF SUCH DAMAGES. THESE LIMITATIONS SHALL APPLY NOTWITHSTANDING THE FAILURE OF THE ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. IN ANY CASE, INTEL'S AND ITS OFFICERS', EMPLOYEES', DIRECTORS', SUBSIDIARIES', REPRESENTATIVES', AFFILIATES' AND AGENTS' ENTIRE LIABILITY UNDER ANY PROVISION OF THIS AGREEMENT SHALL NOT EXCEED THE AMOUNTS OF THE FEES THAT YOU PAID FOR THE CALCULATOR (IF ANY).</p>
        <br>
        <p>Results have been estimated based on internal Intel analysis and are provided for informational purposes only. Any difference in system hardware or software design or configuration may affect actual performance. Intel products and technologies referenced in the CALCULATOR include Ultrabook™ devices and Intel® Core™ vPro™ processor-based devices. </p>
        <br>
        <p>Software and workloads used in performance tests may have been optimized for performance only on Intel microprocessors. Performance tests, such as SYSmark and MobileMark , are measured using specific computer systems, components, software, operations and functions. Any change to any of those factors may cause the results to vary. You should consult other information and performance tests to assist you in fully evaluating your contemplated purchases, including the performance of that product when combined with other products. For more information go to http://www.intel.com/performance</p>
        <br>
        <p>Intel's compilers may or may not optimize to the same degree for non-Intel microprocessors for optimizations that are not unique to Intel microprocessors. These optimizations include SSE2, SSE3, and SSE3 instruction sets and other optimizations. Intel does not guarantee the availability, functionality, or effectiveness of any optimization on microprocessors not manufactured by Intel.</p>
        <br>
        <p>Microprocessor-dependent optimizations in this product are intended for use with Intel microprocessors. Certain optimizations not specific to Intel microarchitecture are reserved for Intel microprocessors. Please refer to the applicable product User and Reference Guides for more information regarding the specific instruction sets covered by this notice. Notice revision #20110804</p>
        <br>
        <p>SPEC, SPECint_rate_base2000 and SPECint_rate_base2006 are trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information.</p>
        <br>
        <p>Intel does not control or audit the design or implementation of third party benchmark data or websites. Intel encourages all of its customers to visit the referenced websites or others where similar performance benchmark data are reported and confirm whether the referenced benchmark data are accurate and reflect performance of systems available for purchase.</p>
        <br>
        <p>Intel processor numbers are not a measure of performance. Processor numbers differentiate features within each processor series, not across different processor sequences. See www.intel.com/products/processor_number for details.</p>
        <br>
        <p>Intel, the Intel logo, Intel Core, Intel vPro, and Ultrabook, are trademarks of Intel Corporation in the U.S. and/or other countries.</p>
        <br>
        <p>Copyright © 2014 Intel Corporation. All rights reserved.</p>
        <br>
        <p>* Other names and brands may be claimed as the property of others.</p>
        <br>
        <br>
        <p>&nbsp;</p>
    </div>
    <div id="helpPopup" title="HELP" oktext="OK" style="display:none;">
        <div>
            <div class="heading3">
                Using this Calculator
            </div>
            <div style="padding-bottom:1em;">
                <p>Welcome to the Intel® Solid-State Drive Professional Family TCO Tool. With this tool, you will calculate the total cost of ownership (TCO) compared to hard disk drives. To get started, please enter the values which suit your IT business. The entries will enable you to create a detailed cost savings report.</p>
            </div>
            <div class="heading3">
                Tooltips
            </div>
            <div style="padding-bottom:0.5em;">
                Tooltips are available for many inputs to provide additional explanation of the input or guidance for the expected values.
                <br>
                <img src="./../public/front/tco/TooltipAnimation.gif" alt="tool tips">
            </div>
            <div class="heading3">
                Results
            </div>
            <div style="padding-bottom:1em;">
                To view more information, click the "Create Report" button for a detailed report in PDF or PPT format.
            </div>
            <br>
            <div style="padding-top:1em; font-size:0.8em; font-style:italic;">
                Last updated July 2014
            </div>
        </div>
        <div id="createReportPopup" title="Create Report" oktext="Cancel" style="display:none;">
            <div class="" style="">Create a detailed report from the information provided.</div>
            <div style="padding-top:2em; padding-bottom:2em;">
                <table width="100%" style="border-spacing:0 1em;">
                    <tbody>
                        <tr valign="top">
                            <td><span id="createPPTButton" data-acg-track="createPPT" class="myButton myInlineButton" data-id="createPPT" style="margin-right:1em; white-space:nowrap;">Create PPT</span></td>
                            <td style="width:100%">Microsoft PowerPoint*</td>
                        </tr>
                        <tr valign="top">
                            <td><span id="createPDFButton" data-acg-track="createPDF" class="myButton myInlineButton" data-id="createPDF" style="margin-right:1em; white-space:nowrap;">Create PDF</span></td>
                            <td>Adobe Reader*</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="exportPleaseWaitPopup" title="Creating Report..." style="display:none;">
            <div style="text-align:center; margin-bottom:1em;">
                Please wait as your document is created.
            </div>
            <div class="export-progress-bar" style="height:1em; width:20em;"></div>
        </div>
        <div id="exportDownloadPopup" title="Download Report" oktext="Download" canceltext="Cancel" style="display:none;">
            <div>
                Click the "Download" button to view your document.
            </div>
        </div>
        <div id="exportErrorPopup" title="Creating Report..." oktext="OK" style="display:none;">
            <div>
                There was a problem creating your document. Please try again later.
            </div>
        </div>
        <div style="display:none;">
            <div id="additionalLaptopsTooltip">The number of business PCs (desktops, laptops and workstations) purchased (this year) that may be upgraded with an Intel® Pro SSD</div>
            <div id="lifespanOfALaptopTooltip">The expected working lifetime (in years) of the business PC before requiring a replacement</div>
            <div id="ssdSizeTooltip"></div>
            <div id="employeeCostPerHourTooltip">Employee Cost refers to the hourly cost incurred by the company for a non-IT employee. This value could include the employee's hourly wage, benefits, and other employment-related costs.</div>
            <div id="ssdMixTooltip">The percentage of business PCs containing an SSD of the selected capacity</div>
            <div id="itEmployeeCostPerHourTooltip">IT Employee Cost refers to the hourly cost incurred by the company for an IT employee. This value could include the employee's hourly wage, benefits, and other employment-related costs.</div>
            <div id="ssdAdderTooltip">The estimated incremental cost of an SSD over an HDD of similar capacity</div>
            <div id="productivityBenefitTooltip">The estimated increase of employee productivity resulting from the use of SSDs</div>
            <div id="ssdAnnualFailureRateTooltip">The percentage of failed SSDs (per year). The Annualized Failure Rate (AFR) can be calculated from Mean Time Between Failures (MTBF) as:
                <br>AFR = 100 * 8760 hours per year / MTBF (in hours)</div>
            <div id="includeVproBenefitTooltip">Intel® Core™ vPro™ technology adds a layer of security for businesses and intelligent systems. Select "Yes" to include the estimated value that Intel® Core™ vPro™ technology provides as part of the analysis.</div>
            <div id="hardDriveAnnualFailureRateTooltip">The percentage of failed HDDs (per year). The Annualized Failure Rate (AFR) can be calculated from Mean Time Between Failures (MTBF) as:
                <br>AFR = 100 * 8760 hours per year / MTBF (in hours)</div>
            <div id="businessDaysToFullyResolveHddFailureTooltip"></div>
            <div id="timeForInitialBuildTooltip"></div>
            <div id="costToRetrieveDataFromAFailedHddTooltip"></div>
            <div id="percentStolenTooltip"></div>
            <div id="valueOfIPTooltip">The value (both direct and indirect) of an employee business PC if lost or stolen</div>
            <div id="outOfRangeTooltip">The value is out of range.</div>
        </div>
    </div>
    <div id="acgTooltipOverlay" style="display: none;"></div>
    <div id="onSiteonRTag"></div>

</body>

</html>
