<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SSD微信公众号-宣传资料</title>
    <% include  public/head%>
    <link rel="stylesheet" type="text/css" href="./../public/front/style/pic.css">
</head>

<body class="page">
<div class="container-fluid">
    <div class="content">
        <h3> <a href="javascript:history.go(-1)" class=" back">宣传单页</a></h3>
        <div class="page_box mgtop">

            <ul class="page_ul">
                <% result.forEach(function(x){ %>
                <li><a href="./data_page_det?id=<%=x.Id%>"><%= x.Name%></a></li>
                <% })%>

            </ul>

        </div>
    </div>
</div>
</body>

</html>
