<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SSD微信公众号-宣传资料</title>
    <% include  public/head%>
    <link rel="stylesheet" type="text/css" href="./../public/front/style/pic.css">
</head>

<body class="data">
<div class="container-fluid">
    <div class="content">
        <h3> <a href="/index" class=" back">宣传资料</a></h3>
        <div class="wrap">
            <a href="data_poster">
                <div class="catabox ">
                    <div class="bgicon"></div>
                    <p>宣传海报</p>
                </div>
            </a>
            <a href="data_picCate">

                <div class="catabox "> <div class="bgicon"></div>产品图片</div>
            </a>
            <a href="data_page">

                <div class="catabox "> <div class="bgicon"></div>宣传单页</div>
            </a>
        </div>
    </div>
</div>
</body>

</html>
