<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SSD微信公众号-宣传资料</title>
    <% include  public/head%>
    <link rel="stylesheet" type="text/css" href="./../public/front/style/pic.css">
</head>

<body class="poster">
<div class="container-fluid">
    <div class="content">
        <h3> <a href="javascript:history.go(-1)" class=" back">宣传海报</a></h3>

        <div class="img mgtop">
            <%
            if(result.Url!="" && result.Url!==null ){
                const arry=JSON.parse(result.Url)
                arry.forEach(function(x){ %>
                   <img src="<%= x.picPath%>">
           <% })}else {%>
                <div class="noData">没有内容</div>
            <%}%>


        </div>

    </div>
</div>
</body>

</html>