<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SSD</title>
<link href="./public/front/style/index.css" rel="stylesheet" type="text/css">

<body class="container">

    <header>

    </header>

    <main>
        <div class="div1">
            <section class="zhuanpan">
                <div class="zhuanpanin">
                    <div class="list">
                        <a href="web/data"></a>
                    </div>
                    <div class="list">
                        <a href="web/product_cate"></a>
                    </div>
                    <div class="list">
                        <a href="web/solution"></a>
                    </div>
                    <div class="list">
                        <a href="web/whitepaper"></a>
                    </div>
                    <div class="list">
                        <a href="web/support"></a>
                    </div>
                    <div class="list">
                        <a href="web/video_cate"></a>
                    </div>


                </div>
                <div class="incirclediv">
                    <div class="incircle">
                        <div class="icon">
                            <a href="web/data">
                                <div class="content"><img src="./public/front/images/index_pic.png">
                                    <p>资料</p>
                                </div>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="web/product_cate">
                                <div class="content"><img src="./public/front/images/index_pro.png">
                                    <p>产品</p>
                                </div>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="web/solution">
                                <div class="content"><img src="./public/front/images/index_sou.png">
                                    <p>案例</p>
                                </div>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="web/whitepaper">
                                <div class="content"><img src="./public/front/images/index_page.png">
                                    <p>白皮书</p>
                                </div>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="web/support">
                                <div class="content"><img src="./public/front/images/index_support.png">
                                    <p>软件</p>
                                </div>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="web/video_cate">
                                <div class="content ">
                                    <img src="./public/front/images/index_vi.png">
                                    <p>视频</p>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
                <div class="zbtn center">
                    <img src="./public/front/images/index_center.png">
                </div>
            </section>
        </div>

    </main>

    <footer>

    </footer>

</body>
</html>


