<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%=title%></title>
    <% include  public/head%>
</head>
<body class="product_detail">
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="navbar-header">


            <a href="./product?categoryId=<%= para.currentCateId %>&seriesId=<%= para.currentSeriesId %>" class="navbar-brand back">back</a>
        </div>



    </nav>
    <div class="content mgtop">





        <div id="col">
            <dl class="sliderbox" id="slider2">
                <dt class="open"><span class="title">规格</span></dt>
                <dd>

                    <div class="text" id="detail">
                        <!--子集-->
                        <div class="section">
                            <h3><i class="glyphicon glyphicon-plus"></i>基本要素</h3>
                            <div class="section_content" >
                                <ul>
                                    <li>
                                        <div>状态</div>
                                        <div>Launched</div>
                                    </li>
                                    <li>
                                        <div>发行日期</div>
                                        <div>Q2'15</div>
                                    </li>
                                    <li>
                                        <div>顺序读取</div>
                                        <div>2400 MB/s</div>
                                    </li>
                                    <li>
                                        <div>顺序写入</div>
                                        <div>1200 MB/s</div>
                                    </li>
                                    <li>
                                        <div>随机读取（8GB 跨度）</div>
                                        <div>440000 IOPS</div>
                                    </li>
                                    <li>
                                        <div>随机写入（8GB 跨度）</div>
                                        <div>290000 IOPS</div>
                                    </li>
                                    <li>
                                        <div>延迟 —— 读取</div>
                                        <div>20 µs</div>
                                    </li>
                                    <li>
                                        <div>延迟 —— 写入</div>
                                        <div>20 µs</div>
                                    </li>
                                    <li>
                                        <div>电源 —— 活动</div>
                                        <div>22</div>
                                    </li>
                                    <li>
                                        <div>电源 —— 闲置</div>
                                        <div>4</div>
                                    </li>
                                    <li>
                                        <div>震动 —— 操作</div>
                                        <div>2.17</div>
                                    </li>
                                    <li>
                                        <div>延迟 —— 读取</div>
                                        <div>3.13</div>
                                    </li>
                                    <li>
                                        <div>撞击（操作和不操作）</div>
                                        <div>1000</div>
                                    </li>
                                    <li>
                                        <div>操作温度范围</div>
                                        <div>0°C to 70°C</div>
                                    </li>
                                    <li>
                                        <div>重量</div>
                                        <div>125g</div>
                                    </li>
                                    <li>
                                        <div>耐用等级（终身写入）</div>
                                        <div>70GB per day</div>
                                    </li>
                                    <li>
                                        <div>故障间的平均时间（MTBF）</div>
                                        <div>1.2M hours</div>
                                    </li>
                                    <li>
                                        <div>无法纠正的位错误速率（UBER）</div>
                                        <div>< 1 sector per 10^16 bits read</div>
                                    </li>
                                    <li>
                                        <div>保修期</div>
                                        <div>5 yrs</div>
                                    </li>
                                    <li>
                                        <div>数据表</div>
                                        <div>Link</div>
                                    </li>
                                    <li>
                                        <div>产品简介</div>
                                        <div>Link</div>
                                    </li>
                                    <li>
                                        <div>其他信息 URL</div>
                                        <div>link</div>
                                    </li>
                                    <li>
                                        <div>建议的客户价格</div>
                                        <div>BULK: $1029.00</div>
                                    </li>

                                </ul>
                            </div>

                        </div><!--/section-->
                        <div class="section">
                            <h3><i class="glyphicon glyphicon-plus"></i>封装规格</h3>
                            <div class="section_content">
                                <ul>
                                    <li><div>容量</div><div>1200 GB</div></li>
                                    <li><div>板型</div><div>2.5" 15mm</div></li>
                                    <li><div>接口</div><div>PCIe NVMe 3.0 x4</div></li>
                                    <li><div>光刻类型</div><div>20nm</div></li>
                                </ul>
                            </div>

                        </div ><!--/section-->
                        <div class="section">
                            <h3><i class="glyphicon glyphicon-plus"></i>先进技术</h3>
                            <div class="section_content">
                                <ul>
                                    <li><div>增强的停电数据保护功能</div><div><code>Yes</code></div></li>
                                    <li><div>高耐用技术</div><div><kbd>No</kbd></div></li>
                                    <li><div>温度监测和记录</div><div><code>Yes</code></div></li>
                                    <li><div>端到端数据保护</div><div><kbd>No</kbd></div></li>
                                    <li><div>英特尔® 智能响应技术</div><div><kbd>No</kbd></div></li>
                                    <li><div>Intel® Rapid Start Technology</div><div><kbd>No</kbd></div></li>
                                </ul>
                            </div>

                        </div>    <!--/section-->

                        <!--子集end-->

                    </div>
                </dd>

                <dt><span class="title">订购和规格信息</span></dt>
                <dd>

                    <div class="text" id="detail2">
                        <!--子集-->
                        <div class="section">
                            <h3>
                                <i class="glyphicon glyphicon-plus"></i>
                                Intel® SSD DC S3710 Series (1.2TB, 2.5in SATA 6Gb/s, 20nm, MLC) 7mm, Generic 50 Pack


                            </h3>
                            <div class="section_content" >
                                <ul>
                                    <li>
                                        <div>订购代号</div>
                                        <div>SSDSC2BA012T4</div>
                                    </li>
                                    <li>
                                        <div>规格代码</div>
                                        <div></div>
                                    </li>
                                    <li>
                                        <div>插座</div>
                                        <div></div>
                                    </li>
                                    <li>
                                        <div>步骤</div>
                                        <div></div>
                                    </li>
                                    <li>
                                        <div>TDP</div>
                                        <div>N/A</div>
                                    </li>
                                    <li>
                                        <div>VT-x</div>
                                        <div></div>
                                    </li>
                                    <li>
                                        <div>ECCN</div>
                                        <div>5A992C</div>
                                    </li>
                                    <li>
                                        <div>CCATS</div>
                                        <div>G147123 </div>
                                    </li>
                                    <li>
                                        <div>US HTS</div>
                                        <div>8523510000</div>
                                    </li>
                                    <li>
                                        <div>建议的客户价格</div>
                                        <div>N/A</div>
                                    </li>
                                </ul>
                            </div>

                        </div><!--/section-->
                        <div class="section">
                            <h3><i class="glyphicon glyphicon-plus"></i>封装规格</h3>
                            <div class="section_content">
                                <ul>
                                    <li><div>容量</div><div>1200 GB</div></li>
                                    <li><div>板型</div><div>2.5" 15mm</div></li>
                                    <li><div>接口</div><div>PCIe NVMe 3.0 x4</div></li>
                                    <li><div>光刻类型</div><div>20nm</div></li>
                                </ul>
                            </div>

                        </div ><!--/section-->
                    </div>
                </dd>

                <dt><span class="title">下载驱动程序</span></dt>
                <dd>

                    <div class="text">
                        建设中。。。
                    </div>
                </dd>


            </dl>


        </div>













    </div>

</div><!--/container-fluid-->



<!--menu-->
<div class="bg"></div>
<div class="menu" id="menu">
    <a href="product.html">Intel® SSD 750 Series<i class="glyphicon glyphicon-menu-right"></i></a>
    <a href="product.html#">Intel® SSD 530 Series<i class="glyphicon glyphicon-menu-right"></i></a>
    <a href="product.html">Intel® SSD 730 Series<i class="glyphicon glyphicon-menu-right"></i></a>
    <a href="product.html">Intel® SSD 525 Series<i class="glyphicon glyphicon-menu-right"></i></a>
    <a href="product.html">Intel® SSD 535 Series<i class="glyphicon glyphicon-menu-right"></i></a>
    <a href="product.html">Legacy Consumer SSDs<i class="glyphicon glyphicon-menu-right"></i></a>

</div>

</body>

<script type="text/javascript">
    var slider2=new accordion.slider("slider2");
    slider2.init("slider2",0,"open");

    //点击显示隐藏
    $(".section").each(function(){




        $(this).find("h3").click(function(){
            _this=$(this).parent().find(".section_content");
            if($(_this).css("display")=="block"){
                //显示状态
                $(_this).css("display","none");
                $(this).find("i").removeClass("glyphicon-minus").addClass("glyphicon-plus") ;

            }else{
                //点击隐藏
                $(_this).css("display","block");

                $(this).find("i").removeClass("glyphicon-plus").addClass("glyphicon-minus") ;

            }

            //根据子节点的高度调节父节点高度
            //获取子节点点击的高度，.text的高度
            _text=$(this).parent().parent();//得到div class=text元素
            var _height=($(this).parent().parent().css("height").replace("px","")*1+20*1)+"px";
            $(_text).parent().css("height",_height);



        });
    });


    //第一个显示状态
    // $("#detail .section").eq(0).find(".section_content").css("display","block");
    // $("#detail .section").eq(0).find("i").removeClass("glyphicon-plus").addClass("glyphicon-minus") ;

</script>


</html>