<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SSD微信公众号-软件</title>
    <% include public/head%>
    <link rel="stylesheet" type="text/css" href="./../public/front/style/pic.css">
    <!-- Demo styles -->
</head>

<body class="support">
<div class="container-fluid">
    <div class="content">
        <h3> <a href="javascript:history.go(-1)" class=" back">软件</a></h3>
        <div class="row mgtop">

            <ul class="softlist">


                <li>
                    <a href="/web/tco">
                        <div class="left">
                            <div class="imgbox"><img src="./../public/front/images/tool/tool_03.png" alt=""></div>
                        </div>
                        <div class="text">
                            <p>Professional TCO Calculator</p>
                            <p>专业TCO计算器</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://www.intel.com/content/www/us/en/solid-state-drives/ssd-help-me-choose.html" class="href">
                        <div class="left">
                            <div class="imgbox"><img src="./../public/front/images/tool/tool_04.png" alt=""></div>
                        </div>
                        <div class="text">
                            <p>Help Me Choose Tool</p>
                            <p>工具选择指南</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
