<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SSD微信公众号-视频</title>
    <% include public/head%>
    <link rel="stylesheet" type="text/css" href="./../public/front/style/actity.css">
</head>

<body class="video">
<div class="container-fluid">
    <div class="content">
        <h3> <a href="javascript:history.go(-1)" class=" back">视频</a></h3>
        <div class="mgtop">
            <div class="row video_det">
                <ul class="video_ul">
                    <li>
                        <div class="title"><span class="num">1</span>NSG Press Guidelines Training </div>
                        <div class="videobox">
                            <img src="./../public/front/images/video_test.jpg">
                        </div>
                        <p class="tags">tags:</p>
                        <p>Lindsey Sech, Nsg, Pr, Press, Relations, Marketing, Training, Guidelines</p>
                    </li>
                    <li>
                        <div class="title"><span class="num">2</span>NSG Featured Site: Vancouver </div>
                        <div class="videobox">
                            <img src="./../public/front/images/video_test.jpg">
                        </div>
                        <p class="tags">tags:</p>
                        <p>Nsg, Vancouver</p>
                    </li>
                    <li>
                        <div class="title"><span class="num">3</span>Jim Matteoni on Intel SSD win at Kaiser</div>
                        <div class="videobox">
                            <img src="./../public/front/images/video_test.jpg">
                        </div>
                        <p class="tags">tags:</p>
                        <p>Jim Matteoni, Kaiser, Healthcare</p>
                    </li>
                    <li>
                        <div class="title"><span class="num">4</span>NSG KTWD John and His Magic Backpack</div>
                        <div class="videobox">
                            <img src="images/video_test.jpg">
                        </div>
                        <p class="tags">tags:</p>
                        <p>Ktwd, Nsg, Backpack, Storage</p>
                    </li>
                    <li>
                        <div class="title"><span class="num">5</span>CQ&R Chalk Talk - An Overview of SSD Qualification & Validation April 2015</div>
                        <div class="videobox">
                            <img src="./../public/front/images/video_test.jpg">
                        </div>
                        <p class="tags">tags:</p>
                        <p>CQ&R Chalk Talk</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>
