<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SSD微信公众号-视频</title>
    <% include public/head%>
    <link rel="stylesheet" type="text/css" href="./../public/front/style/actity.css">
</head>

<body class="video_cat">
<div class="container-fluid">
    <div class="content">
        <h3> <a href="javascript:history.go(-1)" class=" back">视频</a></h3>
        <div class="mgtop">            <div class="row ">
                <ul class="video_ul">
                    <li><a href="video">媒体</a></li>
                    <li><a href="video">技术</a></li>
                    <li><a href="video">产品</a></li>
                    <li><a href="video">课程</a></li>
                    <li><a href="video">市场</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>
