
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="./product_cate" class="navbar-brand back">back</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">

            <%cate.forEach(function(x){%>

            <li><a href="./product_series?cateId=<%=x.Id%>"><%=x.Name%></a></li>

            <%})%>
        </ul>

    </div><!-- /.navbar-collapse -->

</nav>